<nav>
    <div class="title"> TechX Interview Scheduler 2017 </div>
        <div class="links">
            <div><a href="/">Home</a></div>
            <div class="calendar-dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="/calendar">Hack</a>
                    <a href="/calendar">Make</a>
                    <a href="/calendar">ProjX</a>
                    <a href="/calendar">THINK</a>
                    <a href="/calendar">xFair</a>
                </div>
            </div>
        </div>
</nav>