nav {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    font-family: 'Armata', sans-serif;
    background: #000000;
    opacity: 0.6;

}

nav .title {
    color: #FFFFFF;
    float: left;
}

nav .links {
    float: right;
}

nav div {
    display: inline-block;
    margin: 0px 15px;
    vertical-align: middle;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #f9f9f9;
}

